<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>


    <section class="block container about">
        <header class="block__header about__header">
            <h2>About me</h2>
        </header>
        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <h3 class="feature__heading about-me__heading">Who is Dhanushan?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate porro voluptatem veritatis dicta,
                    voluptates vero.</p>  
            </div>
    
            <picture>
                <source type="image/webp" srcset="../sample_images/easy.webp 1x, sample_images/easy@2x.webp 2x">
                <source type="image/jpg" srcset="../sample_images/easy.jpg 1x, sample_images/easy@2x.jpg 2x">
                <img class="feature__image" src="../sample_images/easy@2x.jpg" alt="">
            </picture>
        
        </article>
    </section>
</body>
</html>