<footer class="block block--dark footer">
    <section class="block container">
        <div class="block__header">
            <h3 class="block__heading">
                Find me on these online spaces!
            </h3>
        </div>
    </section>
    <section class="container grid footer__sections">
        <div class="block__header social-network">
            <a href="">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#linkedin"></use>
                    </svg>
                </span>
            </a>
            <a href="">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#github"></use>
                    </svg>
                </span>
            </a>
        </div>
        <section class="footer__brand">
            <img src="./images/Dhanushan3.png" alt="logo of the brand">
            <p class="footer__copyright">Copyright 2022. Designed & coded by Dhanushan</p>
        </section>
    </section>
</footer>