<section class="block block--dark block--skewed-left">
    <div class="contianer">
        <header class="block__header">
            <h3>Skills & Tools</h3>
            <h1 class="block__heading">My Toolbox & Things I Can Do</h1>
            <p>The skills, tools and technologies I use to create the products: </p>
        </header>
        <ul class="list block-domain__skills">
            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--orange">
                        <use xlink:href="images/sprite.svg#html"></use>
                    </svg>
                </span>
                <p class="icon-name">HTML 5</p>
            </li>
            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#css"></use>
                    </svg>
                </span>
                <p class="icon-name">CSS 3</p>
            </li>

            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#javascript"></use>
                    </svg>
                </span>
                <p class="icon-name">JavaScript</p>
            </li>
            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#react"></use>
                    </svg>
                </span>
                <p class="icon-name">React</p>
            </li>

            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#git"></use>
                    </svg>
                </span>
                <p class="icon-name">React</p>
            </li>

            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#github"></use>
                    </svg>
                </span>
                <p class="icon-name">Github</p>
            </li>
            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#vscode"></use>
                    </svg>
                </span>
                <p class="icon-name">vscode</p>
            </li>

            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#responsive"></use>
                    </svg>
                </span>
                <p class="icon-name">Responsive Websites</p>
            </li>

            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--red">
                        <use xlink:href="images/sprite.svg#photoshop"></use>
                    </svg>
                </span>
                <p class="icon-name">Adobe Photoshop</p>
            </li>
            <li class="domain-list__container">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#saas"></use>
                    </svg>
                </span>
                <p class="icon-name">Saas</p>
            </li>
        </ul>
        <section class="container">
            <h4 class="skills__heading">Currently working on: </h4>
            <p class="skills__paragraph">Improving my skills in vanilla JavaScript and React. Also, understanding the
                concepts of Data Structure and Algorithms.</p>
        </section>
    </div>
</section>